@font-face{font-family:Kantumruy Pro;font-style:normal;font-weight:400;src:url(../fonts/KantumruyPro-VariableFont_wght.ttf) format("truetype")}.font-kantumruy[data-v-095e0f19]{font-family:Kantumruy Pro,serif;font-size:20px}
